* {
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 85%;
  margin: auto;
}

/* About Me */
.profile {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.profile img {
  width: 30%;
  height: 30%;
  border-radius: 20px;
}

