* {
  font-family: 'Comfortaa', cursive;
  font-family: 'Poppins', sans-serif;  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 85%;
  margin: auto;
  background-color: #eee;
}

h3 {
  font-size: 40px;
}

ul, li {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  text-decoration: none;
}

li:hover {
  background: lightsalmon;
}

/* Home */
header > img {
  background: no-repeat center center/cover;
  height: auto;
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  opacity: .8;
}

/* About Me */
.profile {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.profile img {
  width: 30%;
  height: 30%;
  border-radius: 20px;
  margin-right: 30px;
}

/* Timeline */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.timeline {
  padding: 100px 0;
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}  

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.timelinecontent {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.btn-more {
	/* background: $primary;
	color: $text; */
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6)}

	.btn-more:hover, :active, :focus {
		/* background: darken($primary, 10%);
		color: $text; */
		text-decoration: none;
	}
  
/* Skills */
.skillcontainer {
  display: flex;
  justify-content: space-evenly;
}
.skillcard {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.skillset {
  text-align: center;
}

.skillpage {
  display: flex;
}

.programming {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.programming img {
  width: 50%;
  height: auto;
}

/* Contact form */
.form-field {
  margin-top: 20px;
}

input {
  border-style: hidden;
  border-bottom: solid lightsalmon;
  width: 640px;
  font-size: 20px;
  outline: none;
}

.project {
  border-style: hidden;
  border-bottom: solid lightsalmon;
  width: 640px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 20px;
  outline: none;
}

.submit {
  border-style: hidden;
  width: 100px;
  font-size: 25px;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover {
  background: lightsalmon;
  color: white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
/* Timeline */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }